<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vidwork</title>

        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	    <link rel="stylesheet" href="{% static "emailList/css/style.css" %}" title="main" charset="utf-8">

        <!-- Fix viewing issues on mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top custom-color">
          <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-left" href="/"><img src="{% static 'emailList/images/panda-head.png' %}" %} alt="Logo" id="panda-head" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <!-- Replace this form with proper one -->
                <form class="navbar-form navbar-right" method="POST" action="/email/">{% csrf_token %}
                  <div class="form-group">
                    <input type="name" name="name" placeholder="Full Name" class="form-control">
                  </div>
                  <div class="form-group">
                    <input type="email" name="email" placeholder="Email" class="form-control">
                  </div>
                  <button type="submit" name="commit" class="btn btn-success nav-button">Get Notified</button>
                </form>
            </div><!--/.navbar-collapse -->
          </div>
        </nav>

        <div class="col-xs-12">
            {% if messages %}
            {% for message in messages %}
            {% if message.tags %}
                <div class="{{ message.tags }}">
            {% endif %}
                <div class="alert alert-success alert-colors col-xs-8 col-xs-offset-2" role="alert">
                    <center>
                  <strong>Thank you!</strong> We will notify you via <u><strong>{{request.session.user_email}}</strong></u> when we're ready to launch!
              </center>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>


        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <center>
                <img src="{% static 'emailList/images/panda.png' %}" alt="Panda" id="panda" />
          <div class="container">
              <br>
            <h2>Make meaningful connections between like-minded people.</h2>
            <p>
                People thus far have used social networks primarily to strengthen existing relationships. Our idea is to allow anyone to interact with others through their mutual interests so that connections are meaningful, lasting and might one day entirely change the way we live our lives.

            </p>
            <br>
            <p>
                <a class="btn btn-success btn-lg std-button" href="signup" role="button">Learn more »</a>
            </p>
            <br>
            <!-- <div class="videoWrapper">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/5TffypnK4i8" frameborder="0" allowfullscreen></iframe>
            </div> -->
          </div>
            </center>
        </div>

        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-4">
              <h2>What?</h2>
              <p class="justify">
                  A new social network that enables you to connect in an entirely new way, unlike anything you’ve seen before. A good way to think about our platform is as a mixture of all of the best features from the most popular current social media networks. Your experience will be focused entirely around your interests; it will build passionate communities of people like you that will also love what you love. The possibilities are endless, literally only limited by your creativity. We are excited to see where this community of connected people can take this revolutionary new platform.
              </p>
              <p><a class="btn btn-default" href="signup" role="button">Learn more »</a></p>
            </div>
            <div class="col-md-4">
              <h2>How?</h2>
              <p class="justify">
                  By focusing the core of our network around the interests that you are most passionate about - captivating what you love to do on your own time, through the consolidation of everyone’s favorite social media features and more - Vidwork allows you to connect with other people in your neighborhood or even around the world in a fun and creative way that will make you want to socialize with others in a way that did not exist until now.
              </p>
              <p><a class="btn btn-default" href="signup" role="button">Learn more »</a></p>
           </div>
            <div class="col-md-4">
                <h2>Why?</h2>
                <p class="justify">
                    No one has ever had a good way of being able to interact with other interesting people - possibly from around the world - that they don’t already know. This means that there are so many connections to be made, fantastic conversations to be had and knowledge to be shared than what is currently possible! You simply share anything that you love with people who love it too! You can do this at any time, anywhere, with anyone.
                </p>
              <p><a class="btn btn-default" href="signup" role="button">Learn more »</a></p>
            </div>
          </div>
          <hr>

          <footer>
            <p>Copyright © 2016 Vidwork, Inc. All Rights Reserved.</p>
          </footer>
        </div> <!-- /container -->
        <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-81220642-1', 'auto');
          ga('send', 'pageview');
        </script>

    </body>
</html>
