<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Panda by Vidwork</title>

        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	    <link rel="stylesheet" href="{% static "emailList/css/style.css" %}" title="main" charset="utf-8">


        <!-- Fix viewing issues on mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top custom-color">
          <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-left" href="/"><img src="{% static 'emailList/images/panda-head.png' %}" %} alt="Logo" id="panda-head" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <form class="navbar-form navbar-right" method="POST" action="/email/">{% csrf_token %}
                <div class="form-group">
                  <input type="name" name="name" placeholder="Full Name" class="form-control">
                </div>
                <div class="form-group">
                  <input type="email" name="email" placeholder="Email" class="form-control">
                </div>
                <button type="submit" name="commit" class="btn btn-success nav-button">Get Notified</button>
              </form>
            </div><!--/.navbar-collapse -->
          </div>
        </nav>

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
              <br>
            <h1>Sign Up</h1>
            <h2>Thank you for your interest!</h2>
            <p>
                You caught us before we're ready! Leave your email address so that we can let you know when we are.
            </p>
            <p>
                We're working hard at the moment and we're super excited! It shouldn't be too much longer...
            </p>
            <p>
                <small>We won't use your email for anything else.</small>
            </p>
            <br>
            <p>
                <a class="btn btn-success btn-lg std-button" href="/" role="button">Back</a>
            </p>
          </div>
        </div>
          <footer>
              <div class="container">
                  <div class="row">
                      <div class="col-xs-12">
                      <hr>
                          <p>Copyright &copy; 2016 Vidwork, Inc. All Rights Reserved.</p>
                      </div>
                  </div>
              </div>

          </footer>
        </div> <!-- /container -->


        <!-- Bootstrap core JavaScript -->
        <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-81220642-1', 'auto');
          ga('send', 'pageview');

        </script>

    </body>
</html>
