<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vidwork</title>

        {% load staticfiles %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	    <link rel="stylesheet" href="{% static "emailList/css/style.css" %}" title="main" charset="utf-8">
    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="">Vidwork</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <!-- Replace this form with proper one -->
                <form class="navbar-form navbar-right" method="POST" action="/email/">{% csrf_token %}
                  <div class="form-group">
                    <input type="name" name="name" placeholder="Full Name" class="form-control">
                  </div>
                  <div class="form-group">
                    <input type="email" name="email" placeholder="Email" class="form-control">
                  </div>
                  <button type="submit" name="commit" class="btn btn-success">Get Notified</button>
                </form>
            </div><!--/.navbar-collapse -->
          </div>
        </nav>

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <h1>The Vision</h1>
            <h2>Connect every person to every other person through common interests.</h2>
            <p>
                People thus far have used social networks primarily to strengthen existing relationships. Our idea is to allow anyone to meet <i>anyone else</i> through their <i>common interests</i> so that they can connect, collaborate, motivate the people connected to them and just be way more productive together.
            </p>
            <br>
            <p>
                <a class="btn btn-success btn-lg" href="signup" role="button">Learn more »</a>
            </p>
        </center>
          </div>
        </div>

        <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-4">
              <h2>What is this?</h2>
              <p>
                  This is exciting. Seriously. Really, really exciting.
              </p>
              <p>
                  We love the idea of being able to help people find other people who could then help each other, become life-long friends or even business partners thanks to our exciting new technology.
              </p>
              <p><a class="btn btn-default" href="signup" role="button">View details »</a></p>
            </div>
            <div class="col-md-4">
              <h2>Videos?</h2>
              <p>
                  Video is the most engaging meaning of communication; hence the name Vidwork - the Video Network. When users are logged in, they will be able to create, upload and share videos with people or groups of people that are all passionate about the same thing.
              </p>
              <p>
                  A good way to think about our platform is as a mixture of Facebook, YouTube and the Stack Exchange (a group of community powered Q &amp; A sites).
              </p>
              <p><a class="btn btn-default" href="signup" role="button">View details »</a></p>
           </div>
            <div class="col-md-4">
                <h2>Difference from Facebook?</h2>
                <p>
                    Facebook has had outstanding success in allowing people to connect <i>based on their existing relationships</i>. In our opinion, there is still a whole world of opportunity when it comes to meeting people from around the world <i>without existing relationships</i>. We intend to do this by linking like-minded people together through their common interests.
                </p>
              <p><a class="btn btn-default" href="signup" role="button">View details »</a></p>
            </div>
          </div>
          <hr>
          <div class="container">
              <div class="row">
                  <h1>Features</h1>
                  <strong><i>Messaging</i></strong>
                  <p>
                      Message anyone who you want to connect with to see if you are going to make a new friend or colleague.
                  </p>

                  <strong><i>Live Video Chat</i></strong>
                  <p>
                      Video chat with like-minded people across the world to share your stories about your shared interests!
                  </p>

                  <strong><i>User Profiles</i></strong>
                  <p>
                      Browse anyones user profile to see all the information they have chosen to share with you. Optionally upload your own video to your profile to let people who you want to allow get to know you fast!
                  </p>
                  <div class="col-md-4">

                  </div>

              </div>

          </div>
          <hr>

          <footer>
            <p>Copyright © 2016 Vidwork, Inc. All Rights Reserved.</p>
          </footer>
        </div> <!-- /container -->

        <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    </body>
</html>
